* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*:not(table, tr, td) {
	border:0;
	outline:0;
	margin: 0;
	padding: 0;
	background: transparent;
	vertical-align: baseline;
}
/*---------------/// firstile \\\---------------*/
html, body, div, span, object, iframe, h2, h3, h4, h5, h6,  blockquote, pre,
a, address, cite, code, del, em, font, strong, sub, sup, b, u, i,
dl, dt, dd, fieldset, form, label, legend{margin:0; padding:0; border:0; outline:0; background:transparent;}
html{height:100%;}
body{height:100%; color:#494949; font:13px/1.4 Arial, Helvetica, sans-serif; background:#EFEFEF;}
h1{ text-shadow:2px 2px 4px  #8C8C8C;  color:#515151;}
h2{ margin:0 0 15px 0; font-size:20px; }
h3{ margin:0 0 15px 0; font-size:16px; }
h4{ margin:15px 0 10px 0; font-size:14px; }
/*p { margin-bottom:12px; }*/
ol { margin-bottom:5px;}
ul { margin-bottom:5px; list-style-image: url("/images/arrow.gif");  padding-left: 15px; }
ol li, ul li { margin-bottom:3px; }
a{ color:#208EBC; }
a:hover{ text-decoration:none; color:#208EBC;}
/*-------------\\\ end firstile ///-------------*/

.wrap{
	position: relative;
	max-width: 1700px;
	min-width: 1100px;
	margin: 0 auto;
}

#header, #header .left, #header .right{position:relative; height:267px; margin:0 0 14px 0; background:#0B0B0B url(/images/bg_header.png) repeat-x 0 0; z-index:150;}
	#header .left{position:absolute; top:0; left:0; width:17px; background-position:0 -268px;}
	#header .right{position:absolute; top:0; right:0; width:17px; background-position:-18px -268px; z-index:3;}
	#header .schem{position:absolute; top:13px; left:12px; width:958px; height:199px; background:url(/images/bg_schem.png) no-repeat 0 0;}
	#header .logo{display:block; position:absolute; top:58px; left:159px; width:160px; height:121px; color:#FFF;}
	#header .round{position:absolute; top:70px; left:40px; width:77px; height:77px; background:url(/images/round.png) no-repeat 0 0;}
	#header .hend{position:absolute; top:0; right:0; width:317px; height:267px; background:url(/images/bg_hend.png) no-repeat 0 0; z-index:4;}
	#header .name{position:absolute; top:159px; right:323px; width:393px; height:60px; background:url(/images/name.png) no-repeat 0 0;}
	#header .buttons{position:absolute; top:30px; right:314px; width:1000px; height:24px; white-space:nowrap;}
		#header .lang{float:right; margin:0 0 0 19px;}
		#header .search{float:right; position:relative; margin:0 0 0 10px;}
			#header .search .submit{float:right;}
				#header .search .submit button{margin:0; padding:0; border:0; background:none;}
			#header .search .field{float:right; width:145px; height:24px; background:url(/images/bg_search.png) no-repeat 0 0;}
				#header .search .field input{position:absolute; top:4px; left:8px; width:130px; margin:0; padding:0; border:0; outline:none; background:none;}
		#header .links{float:right; width:500px;}
			#header .links .leftCorner, #header .links .rightCorner, #header .links li, #header .links a, #header .links span{display:block; float:right; height:24px; background:url(/images/bg_links.png) no-repeat 0 0;}
			#header .links .leftCorner{width:12px; background-position:0 -25px;}
			#header .links .rightCorner{width:11px; background-position:-12px -25px;}
			#header .links ul{float:right; margin:0; padding:0px;}
				#header .links li{float:right; margin:0; padding:0; list-style:none; background-repeat:repeat-x; line-height:1.5}
					#header .links a{float:none; padding:0 0 0 10px; height:24px; background-position:0 -75px;}
					#header .links li.last a, #header .links li.first span{padding:0; background:none;}
						#header .links span{float:none; height:19px; padding:0 10px 0 0; padding-top:1px!important; background-position:100% -50px; cursor:pointer;}
							#header .links img{vertical-align:bottom;}
	#header .nav{position:relative; top:220px; left:0; height:49px;}
		#header .nav ul{margin:0 0 0 33px; padding:0;}
			#header .nav li{float:left; position:relative; margin:0 6px 0 0; padding:0; list-style:none;}
				#header .nav .sprite_menu{display:block; position:relative; background:url(/images/sprite_menu.png) no-repeat;  z-index:10; height: 15px;}
					#header .nav .chems{width: 47px;  background-position:0px -64px;}
					#header .nav .programs{width: 87px;  background-position:0px 0px;}
					#header .nav .forum{width: 47px;  background-position:0px -48px;}
					#header .nav .konkurs{width: 69px;  background-position:0px -16px;}
					#header .nav .services{width: 61px;  background-position:0px -32px;}
					#header .nav .shops{width: 78px;  background-position:0px -80px;}
					#header .nav .videos{width: 45px; height: 18px; background-position:0px -96px;}
				#header .nav .sprite_menu_payalnikTV{display:block; position:relative; background:url(/images/sprite_menu_payalnikTV.png) no-repeat; z-index:10; height: 20px; width: 96px;}
				#header .nav .sprite_menu_konkurs2017{display:block; position:relative; background:url(/images/sprite_menu_konkurs2017.png) no-repeat; z-index:10; height: 16px; width: 99px;}
				#header .nav .item{display:block; position:relative; height:49px; z-index:10;}
					#header .nav a > span{float:left; height:49px; padding:12px 0 0 0;}
					#header .nav .current span, #header .nav li:hover a > span{background:url(/images/bg_nav.png) no-repeat 50% 0;}
					#header .nav .menu b, #header .nav .menu .item i{float:left; width:18px; height:49px;}
					#header .nav .current b, #header .nav .menu li:hover b{background:url(/images/bg_nav.png) no-repeat 0 0;}
					#header .nav .current i, #header .nav .menu li:hover i{background:url(/images/bg_nav.png) no-repeat 100% 0;}
				#header .subnav{display:none; position:absolute; top:46px; left:0; min-height:50px; white-space:nowrap; z-index:9;}
				#header li:hover .subnav{display:block;}
					#header .subnav-bg{position:absolute; top:0; left:0; width:100%; height:100%; background:#030303; opacity:.8; filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
					#header .subnav ul{position:relative; margin:0; padding:5px 0 5px 0;}
						#header .subnav li{float:none; margin:0; font-size:12px;}
							#header .subnav li a{display:block; width:auto; height:24px; padding:0 10px; color:#FFF; line-height:24px; font-weight:700; text-decoration:none;}
							#header .subnav li:hover, #header .subnav li a:hover{background:url(/images/bg_nav.png) no-repeat 50% -15px;}
							#header .subnav em{position:absolute; top:0; right:10px; margin:1px -5px 0 0; font-size:10px; font-style:normal;}
							#header li:hover .subnav .subnav{display:none; position:absolute; top:-5px; left:100%;}
							#header .subnav li:hover .subnav{display:block;}
							#header .subnav .subnav .subnav-bg{background:#2E2E2E;}
	#header .social_shapka {position:absolute; right: 420px; top: 75px;}

#main{}
	#main .column{float:left; width:32%; margin-left:1%;}
		#main .column .title, #main .column .title .left, #main .column .title .right{position:relative; top:0; height:48px; font:32px/1 'Arial Narrow'; color:#FFF; background:#05070C url(/images/bg_title.png) repeat-x 0 0;}
			#main .column .title .left{position:absolute; left:0; width:3px; background-position:0 -49px;}
			#main .column .title .right{position:absolute; right:0; width:3px; background-position:-4px -49px;}
			#main .column .title img{float:left; position:relative; height:26px; margin:12px 0 0 20px;}
			#main .column .title .sprite_col {display: block; margin:15px 0 0 20px; float:left; position:relative; background: url(/images/sprite_col.png) no-repeat;}
				#main .column .title .payalnik {height: 18px; width: 110px; background-position:0px -70px;}
				#main .column .title .news {height: 15px; width: 158px; background-position:0px -38px;}			
				#main .column .title .videos {height: 18px; width: 44px; background-position: 0px -151px;}
				#main .column .title .articles {height: 15px; width: 113px; background-position:0px -54px;}
				#main .column .title .forum {height: 18px; width: 194px; background-position:0px 0px;}
				#main .column .title .comments {height: 18px; width: 185px; background-position:0px -19px;}
				#main .column .title .rss {position:absolute; top:0; right:80px; width:35px; height:19px; background:url(/images/sprite_col.png) no-repeat 0px -131px;}
				#main .column .title .copper {position:absolute; top:0; right:28px; width:36px; height:41px; background:url(/images/sprite_col.png) no-repeat 0px -89px;}
				#main .column .title .add {position:absolute; top:0; right:80px; width:81px; height:19px; background:url(/images/sprite_col.png) no-repeat 0px -170px;}
		#main .column .section{position:relative; min-height:100px; margin:0 0 23px 0; padding:18px 15px 0 15px; border-right:1px solid #B6B6B6; background:#FFF;}
			#main .column .section .bottom, #main .column .section .bottom .right{position:absolute; bottom:-6px; left:0; width:100%; height:6px; padding:0 1px 0 0; background:url(/images/bg_section.png) no-repeat 0 0;}
				#main .column .section .bottom .right{position:absolute; top:0; left:auto; right:0; width:10px; background-position:100% 0;}

#footer{clear:both; position:relative; height:124px; background:#050404 url(/images/bg_footer.png) repeat-x 0 0;}
	#footer .copyright{position:absolute; top:0; left:1%; width:32%; border-top:4px solid #3D3D3D; font-size:12px;}
		#footer .copyright .cnt{padding:30px 0 0 44px;}
			#footer .copyright strong, #footer .copyright strong a{color:#FFF; font-weight:300;}
	#footer .stat {position:absolute; top:34px; right:1%;}
	#footer .social {position:absolute; right: 245px; top: 20px;}
		#footer .social img {padding-left:6px}
	#footer .adv_text {position:absolute; right: 265px; top: 84px; color:white}
	#footer .adv_text a{color:white; font-weight: bold;}
	#footer .banner_pod {position:absolute; right: 35%; top: 22px; }
	#footer {margin-top: 20px;}


.posts{position:relative; overflow:hidden;}
.posts .articles{text-align:justify;}
	.posts .post{position:relative; overflow:hidden; min-height:15px; margin:-1px 0 0 0; padding:10px 0 10px 18px; border-top:1px dotted #B0A7A7; background:url(/images/arrow.gif) no-repeat 5px 15px;}
	.posts .post.about{background:none;}
		.posts .preview{float:right; margin:4px 5px 0 6px; box-shadow:#a3a3a3 3px 3px 5px;}
		.posts .post p{margin:0;}
		.posts .post .date{float:left; margin:0 10px 0 0; padding:0 3px; color:#FFF; font-size:11px; background:#20584A;}
		.posts .post .comm{float:right; margin:0 0 0 10px;}
		.posts .post .txt{position:relative; overflow:hidden;}
		.posts .post h3{position:relative; margin:0 0 3px 0; font-size:12px;}
		.posts .forum .post h3{margin-bottom:0;}
		.posts .post .author{position:relative; overflow:hidden; font-size:11px; font-weight:700;}

.cont_left, .cont_right, .cont {
	border: 1px solid #b6b6b6;
	background: #fff;
	border-radius: 5px;
}
.cont_left, .cont_right {
	width: 215px;
	min-height: 300px;
	margin: 20px 0;
	padding: 5px;

}
.cont_left {
	float: left;
}

.cont_right {
	float: right;
}
.cont {
	position: relative;
	min-height: 300px;
	margin:20px 230px;
	padding: 18px 15px 15px 15px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 1px;
	width: 1px;
	clear: both;
	visibility: hidden;
}

.header{text-align:center;}
a.chems { color:#208EBC; text-decoration:none; font-weight: bold;}
a.chems:hover{ text-decoration:underline; font-weight: bold;}



ul.enter { float: right; position:relative; z-index:100; margin-right: 40px !important; }

ul.enter li.myname {
	 margin-top: 5px !important;
	 font-size: 16px;
	 font-weight:normal;
	 background: #208ebc;
	 padding: 5px 20px !important;
	 border-radius:  5px;
	 color: #fff;
	 cursor: pointer;
	 white-space: nowrap;
}

.notification {
	position:relative; 
	padding: 6px;
	margin-right: 30px;
	margin-top: 3px;
}
.notification_count {
	background: #20DA2F;
	color: #fff;
	border: 2px solid #2F3136;
	border-radius: 5px;

	font-weight: bold;
	font-size: 13px;
	padding: 1px 3px;

	position: absolute; 
	top: 1px;
	right: -7px;

	z-index: 12;
}
.notification_box {
	background: #fff; 
	box-shadow: 0 0 10px #000;
	position:absolute;
	top: 100%;
	right: 100%;
	width: 400px;
	margin-right: -100px;
	display: none;
}
.notification img,
.notification_count {
	cursor: pointer;
}
.notification_box .title {
	background: #208EBC;
	color: #fff;
	padding: 10px;
}
.notification_box .title span {
	font-weight: bold;
	font-size: 16px;
}
.notification_box .title div {
	float: right;
}
.notification_box .title a {
	color: inherit;
	text-decoration: none;
}
.notification_box .rec {
	position: absolute;
	border: 10px solid #208EBC;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;

	top: -17px;

	right: 74px;
}
.notification_box .progress {
	width: 168px;
	height: 20px;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	position: absolute;
}
.notification_box .feedlist {
	overflow-y: auto;
	height: 180px;
}
.notification_box .feedlist > div {
	padding: 10px;
	font-size: 12px;
	color: #444;
}
.notification_box .feedlist > div + div {
	border-top: 1px solid #ccc;
}
.notification_box .feedlist > div .date {
	font-size: 11px;
	color: #777;
}
.notification_box .feedlist .new,
.notification_box .feedlist .system {
	background: #FF8915;
	padding: 3px 5px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	float: right;
}
.notification_box .feedlist .system {
	background: #FF15AC;
}
.notification_box .feedlist .new_feed {
	background: rgba(255, 137, 21, 0.05);
}

lihover, ul.enter li.myname:hover{ background: #6ad1a4; box-shadow: 0 0 25px 0 #6ad1a4; }
ul.enter li img.new { position:absolute; left: -7px; top: -7px; }
ul.enter li img { position: relative; top: 3px; }

/*
#smallMenu { position: absolute; width: 200px; z-index: 151; border: 1px solid #fff; border-radius: 5px 0 5px 5px; display: none; }
#smallMenu ul {	list-style: none; padding: 0 !important; margin: 0 !important; }
#smallMenu ul li{ margin: 0; border-bottom: 1px solid #b2b2b2; position: relative;}
#smallMenu ul li:last-of-type { border-bottom: none; }
#smallMenu ul li a{ display: block; line-height: 24px; background-color: #000; color: #fff; padding-left: 32px; text-decoration: none; }
#smallMenu ul li a > span, span.spr { display: inline-block; width: 24px; height: 24px; background-image: url('/images/icons/spr_user_smenu.png'); background-repeat: no-repeat; margin-right: 5px; position: absolute; left: 4px;}
#smallMenu ul li a:hover { background-color: #208ebc; }
#smallMenu ul li a img { float: left; margin-right: 5px; }
*/

#smallMenu { position: absolute; top: 100%; right: 0; width: 200px; z-index: 151; border: 1px solid #fff; border-radius: 5px 0 5px 5px; display: none; }
#smallMenu > div { margin: 0; border-bottom: 1px solid #b2b2b2; position: relative;}
#smallMenu > div:last-of-type { border-bottom: none; }
#smallMenu > div a{ font-size: 12px; display: block; line-height: 24px; background-color: #000; color: #fff; padding-left: 32px; text-decoration: none; }
#smallMenu > div a > div, div.spr { display: inline-block; width: 24px; height: 24px; background-image: url('/images/icons/spr_user_smenu.png'); background-repeat: no-repeat; margin-right: 5px; position: absolute; left: 4px;}
#smallMenu > div a:hover { background-color: #208ebc; }
#smallMenu > div a img { float: left; margin-right: 5px; }

.paginator { margin: 10px 0; text-align: center;  color: #999; }
a.page { padding: 4px 8px; color: #999; text-decoration: none; border-radius: 5px; font-weight: bold; }
a.page:hover { background: #ececec; }
span.selected { background: #208EBC; padding: 4px 8px; border-radius: 5px; color: #fff; font-weight: bold; }

.fullpost {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fbfbfb;
	position: relative;
	min-height: 145px;
}

.fullpost:hover {
	box-shadow: 0 0 20px 0 #ccc;
}
.fullpost img {
	float :right;	
}

	.authorsimilar {
		opacity: 0.7;
		position: relative;
		z-index: 0;
	}
	.authorsimilar ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	.authorsimilar ul li {
		display: inline-block;
		margin-left: 10px;
	}
	.authorsimilar ul li:not(:last-of-type):after {
		content: ',';
	}
	ul.tags {
		margin-top: 10px !important;
	}
	.subscribe img {
		float: none;
	}
	.ratingBar {
		position: absolute;
		font-size: 10px;
		right: 5px;
		bottom: 5px;
	}
	.ratingBar img {
		position: relative;
		top: 4px;
		margin: 0 2px;
		z-index: 1;
	}


.articlebottom {
	z-index: 20;
	position: absolute;
	left: 0;
	background: #1F1F1F;
	border-top: 1px solid #b2b2b2;
	color: #fff;
	border-radius: 0 0 5px 5px;
	width: 100%;
	bottom: 0;
	line-height: 35px;
	font-size: 11px;
}
.articlebottom img {
	position: relative;
	top: 5px;
	margin: 0 0 0 15px;
	padding: 0;
}
.articlebottom p {
	margin:2px 5px;
	padding: 0;
}

a#buildadd, a.buildadd {
	background: linear-gradient(top, #08D220, #088918);
	background: -webkit-gradient(linear, left top, left bottom, from(#08D220), to(#088918));
	background: -webkit-linear-gradient(#08D220, #088918)
	background: -moz-linear-gradient(top, #08D220, #088918);
    background: -o-linear-gradient(top, #08D220, #088918);
   
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	padding: 3px 5px;
	margin-left: 10px;
}
a#buildadd {
	Ðºfont-size: 10px;
}

a#buildcount, span#buildcount {
	padding: 3px 5px;
	background: #fff;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
	font-size: 10px;
	margin: 0 3px;
}

span#donate {
	cursor: pointer;
}

div#blockbackground {
	position: fixed;
	background: #000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	opacity: 0.5;
}

div#donate {
	width: 500px;
	margin: 0 auto;
	position: fixed;
	top: 40%;
	left: 50%;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #b6b6b6;
	margin: auto -250px auto -250px;
	z-index: 999999999999;
}

div#donate p {
	font-size: 14px;
	color: #444;
	margin: 10px 3px;
	line-height: normal;
}

div#donate img {
	float: right;
}

#favArticle { cursor: pointer; }

div.tabs {
	text-align: right;
	border-radius: 5px 5px 0 0;
	border-top: 1px dotted #B0A7A7;
	border-left: 1px dotted #B0A7A7;
	border-right: 1px dotted #B0A7A7;		
	padding: 5px 0;
	display: inline-block;
}
div.tabs span.tab {
	padding: 5px;
}
div.tabs span.tab:not(:last-of-type) {
	border-right: 1px dotted #B0A7A7;		
}
div.tabs span.currenttab {
	font-weight: bold;
	color: #444;	
}

div.tabs span.tab:not(.currenttab):hover {
	cursor: pointer;
	color: #388a88;
}

.mix_NAME {
	color: #208EBC;
	font-size: 16px;
}
.mix_DESC {
	font-size: 13px;
}
.mix_PRICE {
	font-size: 12px;
	color: #808080;
}
.mix_MERCH {
	color: #1A8099;
	font-size: 10px;
}

div.preview {
	position: relative;
}
.video_time {
	background: #000;
	position: absolute;
	color: #fff;

	right: 0;
	bottom: 0;
	text-align: right;
	padding: 2px 4px;
	font-size: 10px;
}

.cont a[rel="lightbox"] > img,
.main_content a > img {
	cursor: zoom-in;
}
.cont img {
	width: auto;
	max-width: 100%;
}
.tool-tip img {
	max-width: none;
}
.label_6plus {
	margin-left: 1em;
	color: #999;
	font-size: .6rem;
	background-color: #333;
	border-radius: 3px;
	padding: .15rem .4rem;
}

