.ParagraafTitel { font-family: Comic Sans MS; font-size: 12pt; font-weight: bold; color:#CCCCCC }
.Logo        { font-family: Rage Italic; font-size: 24pt; font-weight: bold }
.Bijschrift  { font-family: Comic Sans MS; font-size: 10pt; font-weight: bold; color:#CCCCCC }
.PaginaTitel { font-family: Comic Sans MS; font-size: 18pt; font-weight: bold; color:#CCCCCC }
.Ondertitel  { font-family: Comic Sans MS; font-size: 14pt; font-weight: bold; color:#CCCCCC }
.ParagraafText  { font-family: Comic Sans MS; font-size: 12pt; color:#CCCCCC }