body { 
margin: 0;
padding: 0;
background-color: #530200;
background-image: url(../images/bg.png);
background-repeat: repeat-x;
background-position: top;
}


#container{
margin: 0px auto;
width: 840px;
background-image: url(../images/topimage.jpg);
background-position: top;
background-repeat: no-repeat;
}

#head{
width: 840px;
height: 100px;
}

#myname{
padding-top: 60px;
width: 840px;
height: 50px;
text-align: right;
}

#myname a{
font-family: Verdana, Arial, Times, san-serif;
font-size: 32px;
font-weight: bold;
color: #ffffff;
padding-right: 190px;
}

#menu{
width: 640px;
text-align: right;
border-bottom:3px solid #FFFFFF;
float:right;
height: 26px; border-bottom-width: 3px; padding-bottom: 0px; margin-top: 30px;
}

#menu ul{
display: block;
margin:0px;
}

#menu ul li{
list-style-type: none;
display: inline;
margin-right: 46px;
}

#menu ul li a{
text-decoration: none;
font-family: Verdana, Arial, Times, san-serif;
font-size: 12px;
font-weight: bold;
color: #ffffff;
}

#menu ul li a:hover{
color: #ff9900;
}

#header_line{
width: 640px;
height: 3px;
/*background-color:#FFFFFF;*/
float: right;
}

#realbody{
margin-top: 10px;
width: 840px;
}

#verticalmenu{
width: 200px;
float: left;
overflow: hidden;
}

#verticalmenu ul{
list-style:none;
}

#verticalmenu h3{
background-image:url(../images/jet.png);
background-position:left;
background-repeat:no-repeat;
padding-left:30px;
}


h3{
font-family: Verdana, Arial, Times, san-serif;
font-size: 12px;
font-weight: bold;
color: #fff;
}

h4{
font-family: Verdana, Arial, Times, san-serif;
font-size: 12px;
font-weight: bold;
color: #fff;
padding-top: 14px; 
padding-left: 29px;
}

.meteor_info
{
color:#FFFFFF;
font-weight:bold;
font-size:90%;
font-family:Times New Roman,Arial,Helvetica,sans-serif;
margin-top: 20px;
}

#verticalmenu ul li{
list-style:none;
color: #99ccff;
}

#verticalmenu ul li a{
text-decoration: none;
font-family: Verdana, Arial, Times, san-serif;
font-size: 10px;
color: #ffffff;
}

#verticalmenu ul li a:hover{
text-decoration: underline;
}

#content{
width: 640px;
float: right;
overflow: hidden;
min-height: 390px;
}

#content p{
font-family: Verdana, Arial, Times, san-serif;
font-size: 10px;
color: #ffffff;

}

#content p a{
color: #ffffff;
} 

#content p a:hover{
color:#FF9900;
text-decoration:none;
} 


.meteor{
width: 640px;
height: 38px;
background-image: url(../images/jet.png);
background-repeat: no-repeat;
background-position: left;
clear: both;
border-bottom:1px solid #fff;
}

#footer
{
width:100%;
height: 113px;

position:absolute;
background-image: url(../images/niz.jpg);
background-repeat: no-repeat;
background-position:bottom;
}

#copy_right
{
margin-left:auto;
margin-right:auto;
margin-top:60px;
width:250px;
font-weight:bold;
color:#530200;
}

#designed
{
margin-left:auto;
margin-right:auto;
width:150px;
color:#fff;
}

#designed a, #designed a:hover
{
color:#fff;
}

#foot{
margin: 0 auto 0 auto;
width: 840px;
height: 60px;
padding-top: 20px;
clear: both;
}

#foot p{
text-align: right;
font-family: Verdana, Arial, Times, san-serif;
font-size: 10px;
color: #ffffff;
}

#foot p a{
font-family: Verdana, Arial, Times, san-serif;
font-size: 10px;
font-weight: bold;
color: #ffffff;
}

#foot p a:hover{
font-family: Verdana, Arial, Times, san-serif;
font-size: 10px;
font-weight: bold;
color: #ff9900;
}

.imageleft{
padding: 1px;
border: 1px solid #99ccff;
background-color: #ffffff;
margin: 10px 10px 10px 0px;
float: left;
}

.imageright{
padding: 1px;
border: 1px solid #99ccff;
background-color: #ffffff;
margin: 10px 0px 10px 10px;
float: right;
}